{% load staticfiles  %}
<html>
<head>
    <title>Photography</title>
    <link rel="stylesheet" href="{% static 'imageload/css/custom.css' %}">
</head>
<body>

{#{% for image in imageList %}#}
{#    <img src="{{ image.image.url }}" alt="111">#}
{#{% endfor %}#}
<!-- 头部区域 -->
<nav class="navbar navbar-itcast navbar-static-top">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_list" aria-expanded="false">
          </button>
          <a class="navbar-brand" href="/">
              <img src="/static/imageload/image/logo.png" alt="">
          </a>
        </div>
        <div id="nav_list" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class="#"><a href="#" >Project</a></li> -->
            <li>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Photography
                </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      {% for photography in photographyList %}
                          <li><a href="{{ photography.id }}">{{ photography.title }}</a></li>
                      {% endfor %}
                  </ul>
              </div>
            </li>
            <li>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Design
                </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      {% for design in designList %}
                          <li><a href="{{ design.id }}">{{ design.title }}</a></li>
                      {% endfor %}
                  </ul>
              </div>
            </li>
            <li>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Diary
                </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      {%   for diary in diaryList %}
                          <li><a href="{{ diary.id }}">{{ diary.title }}</a></li>
                      {% endfor %}

                  </ul>
              </div>
            </li>
{#            <li><a href="#">About</a></li>#}
          <li>
              <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      About
                    </button>
              </div>
          </li>
          </ul>
        </div>
      </div>
</nav>

{% block content %}

{% endblock content %}



<div class="container">
  <div class="webSiteNotice">©2017 hymanwoo.com</div>
</div>

<script src="/static/imageload/javascript/jquery-3.2.1.min.js"></script>
<script src="/static/imageload/javascript/bootstrap.min.js"></script>
</body>
</html>