<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/imageload/css/custom.css">
</head>
<body>

{#{% for image in imageList %}#}
{#    <img src="{{ image.image.url }}" alt="111">#}
{#{% endfor %}#}
<!-- 头部区域 -->
<nav class="navbar navbar-itcast navbar-static-top">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_list" aria-expanded="false">
          </button>
          <a class="navbar-brand" href="#">
              <img src="/static/imageload/image/logo.png" alt="">
          </a>
        </div>
        <div id="nav_list" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class="#"><a href="#" >Project</a></li> -->
            <li>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Photography
                </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      {% for photography in photographyList %}
                          <li><a href="#">{{ photography.title }}</a></li>
                      {% endfor %}
                  </ul>
              </div>
            </li>
            <li>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Design
                </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      {% for design in designList %}
                          <li><a href="#">{{ design.title }}</a></li>
                      {% endfor %}
                  </ul>
              </div>
            </li>
            <li>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Diary
                </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      {%   for diary in diaryList %}
                          <li><a href="#">{{ diary.title }}</a></li>
                      {% endfor %}

                  </ul>
              </div>
            </li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
</nav>

<!-- 广告轮播 -->
<section id="main_ad" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">


    <li data-target="#main_ad" data-slide-to="0" class="active"></li>
    <li data-target="#main_ad" data-slide-to="1"></li>
    <li data-target="#main_ad" data-slide-to="2"></li>
    <li data-target="#main_ad" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      {% for home in homeList %}
          {% if forloop.counter0 == 0 %}
              <div class="item active" data-image-lg="" data-image-xs="">
                  <a href="#">
                      <img class="caImage" src="{{ home.image.url }}" alt="">
                  </a>
              </div>
          {% else %}
              <div class="item" data-image-lg="" data-image-xs="">
                  <a href="#">
                      <img class="caImage" src="{{ home.image.url }}" alt="">
                  </a></div>
          {% endif %}

      {% endfor %}

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#main_ad" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#main_ad" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</section>
<!-- /广告轮播 -->
<div class="container">
  <div class="webSiteNotice">©2017 hymanwoo.com</div>
</div>

<script src="/static/imageload/javascript/jquery-3.2.1.min.js"></script>
<script src="/static/imageload/javascript/bootstrap.min.js"></script>
</body>
</html>