{% extends 'imageload/base.html' %}
{% load custom %}

{% block content %}
    <!-- 广告轮播 -->
<section id="main_ad" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#main_ad" data-slide-to="0" class="active"></li>
    <li data-target="#main_ad" data-slide-to="1"></li>
    <li data-target="#main_ad" data-slide-to="2"></li>
    <li data-target="#main_ad" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      {% for home in homeList %}
          {% if forloop.counter0 == 0 %}
              <div class="item active" data-image-lg="" data-image-xs="">
                  <a href="{{ home.id }}">
                      <img class="caImage" src="{{ home | imageUrl }}" alt="">
                  </a>
              </div>
          {% else %}
              <div class="item" data-image-lg="" data-image-xs="">
                  <a href="{{ home.id}}">
                      <img class="caImage" src="{{ home  | imageUrl}}/" alt="">
                  </a></div>
          {% endif %}
      {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#main_ad" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#main_ad" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</section>
<!-- /广告轮播 -->

{% endblock content %}


