{% extends 'imageload/base.html' %}
    {% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-md-3 ">
            <div class="contentCell">
                <a href="#" class="view">View</a>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="contentCell">
                <a href="#" class="view">View</a>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="contentCell">
                <a href="#" class="view">View</a>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="contentCell">
                <a href="#" class="view">View</a>
            </div>
        </div>
    </div>

    <div class="container">
        <a href="#" class="more">More</a>
    </div>

{% endblock content %}